body {
	background: #F4F4F4 !important;
}

#app-container {
	padding-top: 80px;
	padding-bottom: 50px;
}

#filter-input {
  position: fixed;
  z-index:9999;
  top: 60px;
  left: 0;  
  width: 100%;  
  padding:10px;  
}

#hidden-message-alert {
  position: fixed;
  bottom: 40px;
  left: 10px;  
  padding: 5px;
  margin:10px;
  font-size:12px;
}

#quick-add-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  
  padding: 10px;
}

#message-list li {
	list-style-type: none;
	padding:2px;
}

#message-list-welcome-banner {
	margin-top:300px;
}

#reveal-link {
	cursor:pointer;
}