body {
	background: #F4F4F4 !important;
}

#app-container {
	position:relative;
	padding-top: 80px;
	padding-bottom: 50px;
	transition: all 0.2s ease-in-out;
	left:0%;
}

.left-sidebar-view {
	position:fixed;
	width:40%;
	top:130px;
	height:100%;	
	z-index:9999;
	left:-60%;
	transition: all 0.2s ease-in-out;
}

#message-detail-view-panel {
	margin-left:10px;
	margin-right:10px;	
	width:100%;
	height:85%;
}

#message-detail-content[contenteditable='true'] {
	background: #F2F5C6;
}

#filter-input-view-container {
	background:white;
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
  position: fixed;
  z-index:9999;
  top: 0px;
  left: 0;  
  width: 100%;  
  padding:10px;  
}

#filter-input-group {
	padding-top:10px;
	padding-bottom:10px;
}

#filter-input-view {
	width:100%;
}

#hidden-message-alert {
  position: fixed;
  bottom: 40px;
  left: 10px;  
  padding: 5px;
  margin:10px;
  font-size:12px;
}

#quick-add-input-view-container {
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;  
  padding: 10px;
  min-height:60px;
}


#quick-add-input {
	border:none;	
	width:100%;
	height:100%;
}


#message-list-view-container {
	margin-top:70px;
}

#message-list li {
	cursor:pointer;
	list-style-type: none;
	padding:2px;
}

#reveal-link {
	cursor:pointer;
}


.btn-borderless {
	color: gray;
	background: none;
	border: none;
}

* {
    outline: none !important;    
}

.modal-dialog {
  margin-top: 200px !important;
}