<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpenLoopz 404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
	<link rel="icon" href="/images/olz-icon.ico"/>
	<script type="text/javascript" id="GoogleAnalyticsTemplate" th:include="Oric/GoogleAnalyticsTemplate :: #template"></script>
</head>
<body>
	<p align='center'><a href='/welcome'><img src='/images/openloopz-logo.png' style="margin:auto auto" /></a></p>
	
	<p align='center' style="color:red"><i class="fa fa-frown-o fa-5x"></i></p> 
	<p align='center' style="font-size:28px"> Oops! There is nothing to see here.</p>
	
	<p align='center' style="font-size:18px;color:gray"><b>To see your loops, click <a href="/loops">here</a></b>.</p> 

	<p align='center' style="font-size:18px;color:gray"><b>To find out more about OpenLoopz, click <a href="/welcome">here</a></b>.</p> 
	
</body>
</html>