<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" href="/images/olz-icon.ico"/>
    <title>OpenLoopz Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link rel='stylesheet' type='text/css' href='/css/font-awesome.min.css'/>
    
  <script type="text/javascript" id="GoogleAnalyticsTemplate" th:include="Oric/GoogleAnalyticsTemplate :: #template"></script>
</head>
<body>
	<div class="container" style="width:600px;margin-top:200px">
		<p align="center"><a href="/welcome"><img class='logo' src='/images/openloopz-logo.png'/></a></p>
		<div class="alert alert-warning" role="alert" style="margin-top:20px">
			<h4 align="center">You are now in the loop!</h4>
			<p align="center">We have sent you a confirmation email. You can now log-in to OpenLoopz 
			but please confirm as soon as you can so we know you are a real human. <i class="fa fa-smile-o"></i></p>
			<p align="center">Click <a href="/login">here</a> to login</p>
		</div>
   	</div>
</body>

</html>