<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="template">

  <div class="btn-group">
	
  <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown" aria-expanded="false">
    <span id="selected-channel-title"> </span>  <span class="caret"></span>
  </button>
  <ul id="channel-list" class="dropdown-menu" role="menu">
    <li><a id="create-channel-menu-item" href="#">Create Channel</a></li>
    <li class="divider"></li>
    <li><a id="home-channel-menu-item" href="#">HOME</a></li>
  </ul>
</div>
    
</div>
</html>
