<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="template">
<img src="/images/openloopz-o.png" style="width:30px;margin-right:10px;"></img>
<span id="channel-dropdown-view-container"></span>
<div class="btn-group" role="group" aria-label="...">
  <button id="all-filter-button" type="button" class="filter-button btn btn-default active"><i class="fa fa-rocket"></i> All</button>
  <button id="chats-filter-button" type="button" class="filter-button btn btn-default"><i class="fa fa-comments chat-icon"></i> Chats</button>
  <button id="tasks-filter-button" type="button" class="filter-button btn btn-default"><i class="fa fa-tasks task-icon"></i> Tasks</button>
  <button id="articles-filter-button" type="button" class="filter-button btn btn-default"><i class="fa fa-book article-icon"></i> Articles</button>
  <button id="channels-filter-button" type="button" class="filter-button btn btn-default"><i class="fa fa-desktop channel-icon"></i> Channels</button>
  <button id="labels-filter-button" type="button" class="filter-button btn btn-default"><i class="fa fa-tag label-icon"></i> Labels</button>
  <button id="milestones-filter-button" type="button" class="filter-button btn btn-default"><i class="fa fa-flag-checkered milestone-icon"></i> Milestones</button>
  </div>
    
    <div id="filter-input-group" class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filters <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Your messages</a></li>
              <li><a href="#">Everything assigned to you</a></li>
              <li><a href="#">Everything you are mentioned in</a></li>
              <li class="divider"></li>
              <li><a href="#">Clear filter</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input type="text" class="form-control"  id="filter-input" aria-label="Type a #hashtag to filter content"/>         
        </div>

    
</div>
</html>
