<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="template">
<img src="/images/openloopz-o.png" style="width:30px;margin-right:10px;"></img>
<span id="channel-dropdown-view-container"></span>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default active"><i style="color:#D7B325" class="fa fa-comments"></i> Chats</button>
  <button type="button" class="btn btn-default"><i style="color:#3BBAD8" class="fa fa-tasks"></i> Tasks</button>
  <button type="button" class="btn btn-default"><i class="fa fa-tasks"></i> Documents</button>
  <button type="button" class="btn btn-default"><i class="fa fa-tasks"></i> Channels</button>
  <button type="button" class="btn btn-default"><i class="fa fa-tasks"></i> Labels</button>
  </div>
    
    <div id="filter-input-group" class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filters <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Your messages</a></li>
              <li><a href="#">Everything assigned to you</a></li>
              <li><a href="#">Everything you are mentioned in</a></li>
              <li class="divider"></li>
              <li><a href="#">Clear filter</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input type="text" class="form-control"  id="filter-input" aria-label="Type a #hashtag to filter content"/>         
        </div>

    
</div>
</html>
