<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="template">

	<div class="list-group-item">		
		 <!-- <input type="checkbox"/>
		<button class="btn btn-borderless btn-xs"><i class="fa fa-comments" style="color:#44A5C2"></i></button>
		<button class="btn btn-borderless btn-xs"><i class="fa fa-arrow-up" style="color:#990F0F" title="#priority:3"></i></button>-->
    	<!-- <img id="item-image" src="" style="width:30px"/> -->
    	<!-- <strong style="color:gray"> <span id="message-user-tag">Paul</span>:</strong>-->

	<span id="item-image-dropdown" class="dropdown">
			<button id="item-type-button" class="btn btn-borderless dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-expanded="true">
				<img id="item-image" class="user-icon-image" src="https://www.gravatar.com/avatar/855a57ef74a62bc22b38b7e1584d2ae3?d=retro&amp;s=20"/>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation" class="dropdown-header"><strong>CURRENT OWNER</strong></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Paul Drummond</a></li>
				<li class="divider"></li>	
				<li role="presentation" class="dropdown-header"><strong>ASSIGN TO...</strong></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Joe Bloggs (Developer)</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bob Joggs (Tester)</a></li>
			</ul>
	</span>
	
	<span id="item-type-dropdown" class="dropdown">
			<button id="item-type-button" class="btn btn-borderless dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-expanded="true">
				<i id="item-type-icon" class="fa fa-comments"></i>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li id="promote-to-task-menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Change to Task</a></li>
				<li id="promote-to-comment-menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Change to Comment</a></li>
			</ul>
	</span>
	<div id="item-status-dropdown" class="btn-group" style="display:none">
	  <button id="current-status-button" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <span id="current-status">Open</span> <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li id="status-open-menu-item"><a href="#">Open</a></li>
	    <li id="status-in-progress-menu-item"><a href="#">In Progress</a></li>
	    <li id="status-blocked-menu-item"><a href="#">Blocked</a></li>
	    <li id="status-in-test-menu-item"><a href="#">In Test</a></li>
	    <li id="status-done-menu-item"><a href="#">Done</a></li>
	  </ul>
	</div>
    	<span id="message-content" class="list-group-item-text"></span>

		<div class="pull-right">		
		<div id="item-channel-dropdown" class="btn-group pull-left" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
					<span id="item-channel-title"></span> <span class="caret"></span>
				</button>
				<ul id="item-channel-dropdown-list" class="dropdown-menu dropdown-align-right" role="menu">					
				</ul>
			</div>
		</div>
		<div id="item-menu-dropdown" class="dropdown pull-left">
			<button class="btn btn-borderless dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-expanded="true">
				<i class="fa fa-ellipsis-v" style="position:relative;left:5px;top:2px;font-size:1.2em"></i>
			</button>
			<ul class="dropdown-menu dropdown-align-right" role="menu" aria-labelledby="dropdownMenu1">
				<li id="view-details-menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">View Details</a></li>
				<li id="archive-menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Archive</a></li>
			</ul>
		</div>
		</div>
	</div>
    
</div>
</html>
