<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="template">

	<a class="list-group-item">
		<button id="show-detail-button" class="btn btn-borderless btn-xs"><i class="fa fa-arrow-left"></i></button>
		<input type="checkbox"/>
		<button class="btn btn-borderless btn-xs"><i class="fa fa-comments" style="color:#44A5C2"></i></button>
		<button class="btn btn-borderless btn-xs"><i class="fa fa-arrow-up" style="color:#990F0F" title="#priority:3"></i></button>
    	<!-- <img id="item-image" src="" style="width:30px"/> -->
    	<!-- <strong style="color:gray"> <span id="message-user-tag">Paul</span>:</strong>-->
		<img id="item-image" src="/images/pd.png" style="width:20px;border-radius:5px;margin-right:5px"/>
    	<span id="message-content" class="list-group-item-text"></span>
  	</a>
    
</div>
</html>
