<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="template">

	<div class="list-group-item">		
		 <!-- <input type="checkbox"/>
		<button class="btn btn-borderless btn-xs"><i class="fa fa-comments" style="color:#44A5C2"></i></button>
		<button class="btn btn-borderless btn-xs"><i class="fa fa-arrow-up" style="color:#990F0F" title="#priority:3"></i></button>-->
    	<!-- <img id="item-image" src="" style="width:30px"/> -->
    	<!-- <strong style="color:gray"> <span id="message-user-tag">Paul</span>:</strong>-->
		<!-- <img id="item-image" src="/images/pd.png" style="width:20px;border-radius:5px;margin-right:5px"/>-->

	<button id="show-detail-button" class="btn btn-borderless btn-xs" title="#OLZ-MSG-1"><i class="fa fa-arrow-left"></i></button>
	<span id="message-item-dropdown" class="dropdown">
			<button class="btn btn-borderless dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				<i class="fa fa-comments"></i>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chat</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Task</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Project</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Document</a></li>
			</ul>
	</span>
	<!-- <span class="label label-primary">OPEN</span>-->
    	<span id="message-content" class="list-group-item-text"></span>

		<span class="pull-right">		
		<div class="btn-group" role="group" aria-label="...">
						
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
					<span id="item-channel-title"></span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Release 1.4</a></li>
					<li><a href="#">Release 1.5</a></li>
				</ul>
			</div>
		</div>
		</span>
	</div>
    
</div>
</html>
